/* Projects section */
.projects {
    width: 95%;
    text-align: initial;
}
.projects img {
    width: 250px;
    height: 180px;
}

.projects figure {
    float: left;
}

.projects section {
    margin: auto;
}

.projects hr {
    width: 80%;
    float: right;
    position: relative;
    right: 50px;
}

/* End of Projects section */


/* About Me section */

/* End of About Me section */


/* Contact section */
