article {
    margin: 15% auto;
}

/* Projects section */
.projects {
    width: 95%;
<<<<<<< HEAD
}
.projects img {
    width: 350px;
    max-height: 250px;
=======
<<<<<<< HEAD
=======
    text-align: initial;
>>>>>>> origin/master
}
.projects img {
    width: 250px;
    height: 180px;
>>>>>>> origin/master
}

.projects section {
    margin: auto;
<<<<<<< HEAD
    width: 85%;
=======
<<<<<<< HEAD
    width: 85%;
=======
>>>>>>> origin/master
>>>>>>> origin/master
}

.projects hr {
    width: 80%;
    float: right;
    position: relative;
    right: 50px;
}

/* End of Projects section */


/* About Me section */
/* End of About Me section */


/* Contact section */
/* End of Contact section*/
